<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>代理 &amp;&amp; block.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>189946241D3350D7001A8D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1899463D1D3350D7001A8D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>189946481D3350D7001A8D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
